@charset "gb2312";
/* CSS Document */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td { margin: 0; padding: 0; }
body { font-size: 62.5%; color: #666; background: #fff; line-height: 24px; }
html>body { font-size: 12px; }
fieldset, img { border: 0; }
ol, ul { list-style: none; }
ul, li { list-style: none; list-style-type: none; list-style-position: outside; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
em { font-style: normal; }
input, button, select, textarea { outline: none; }
textarea { resize: none; }
html, body { background-color: #F0F0F0; background-image: url(../images/Head_bg.png); background-repeat: repeat-x; }
body, td, th { font-size: 9pt; color: #000000; }
a:link, a:visited { color: #1A6495; text-decoration: none; }
a:hover, a:active { color: #0000FF; text-decoration: none; }
a:focus { outline: none; }
#container { width: 1000px; margin: 0 auto; }
.blank { font-size: 5px; height: 10px; }
.clearfloat { clear: both; height: 0; font-size: 1px; line-height: 0px; }
/*header*/
#header { height: 105px; background: url(../images/top.gif) no-repeat; }
#logo { float: left; margin-top: 13px; }
#headR { float: right; width: 230px; height: 50px; background: url(../images/Mobile.gif) left bottom no-repeat; margin-top: 13px; padding-left: 26px; }
#headR a { color: #666; }
#headR a:hover { color: #000; }
/*nav*/
#nav { height: 74px; margin-bottom: 8px; }
.nav_main { height: 43px; overflow: hidden; }
.nav_main ul li { float: left; font-family: "微软雅黑", sans-serif; font-size: 14px; font-weight: normal; }
.nav_main ul li a, .nav_main ul li a:link, .nav_main ul li a:visited { float: left; display: block; height: 43px; line-height: 39px; color: #fff; margin-left: 20px; margin-right: 20px; }
.nav_main ul li a span { float: left; display: block; width: 87px; text-align: center; }
.nav_main ul li a:hover { background: url(../images/nav_Focus.png) 0 0px no-repeat; color: #fff; cursor: pointer; }
.nav_main ul li a#nav_current { height: 43px; line-height: 39px; background: url(../images/nav_Focus.png) no-repeat; color: #fff; }
.nav_main .line { background: url(../images/nav_cut.png) no-repeat; width: 2px; height: 39px; }
.nav_son { height: 30px; overflow: hidden; margin-left: 20px; }
.nav_son ul li { float: left; line-height: 30px; }
.nav_son ul li span { float: left; display: block; }
.nav_son ul li a { float: left; display: block; line-height: 30px; color: #6e6e6e; }
.nav_son ul li a:hover { }
/*Display*/
#Display { height: 290px; background: #09F; margin-bottom: 5px; background: url(../images/show.jpg) no-repeat; width: 1000px; }
/*service*/
.gmaterial { float: right; background: url(../images/material.png) no-repeat -293px 0px; width: 60px; height: 41px; }
.service { margin-bottom: 5px; }
.service #left { float: left; background: url(../images/material.png) no-repeat; width: 57px; height: 41px; }
.service #center { float: left; background: url(../images/material.png) 0px -286px no-repeat; width: 883px; height: 41px; overflow: hidden; }
.service #right { float: right; background: url(../images/material.png) no-repeat -233px 0px; width: 60px; height: 41px; }
.service #middle { background: url(../images/Subnavigationmiddle1.png) repeat-y; width: 1000px; clear: both; }
.service #bottom { background: url(../images/material.png) no-repeat 0px -236px; width: 1000px; height: 8px; overflow: hidden; }
.service h2 { font-size: 10pt; line-height: 41px; font-weight: bold; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 10px; }
.service #list { background: url(../images/material.png) no-repeat 0px -41px; width: 242px; height: 185px; margin: 5px 4px 0px; _margin-right: 1px; position: relative; }
.service #list img { width: 238px; height: 149px; position: absolute; left: 2px; top: 2px; right: 2px; bottom: 33px; filter: Alpha(opacity = 100); }
.service #list span { width: 238px; height: 36px; padding-top: 155px; text-align: center; display: block; }
.service #list span a { color: #9B7328; }
.service #list span a:hover { color: #F90; }
.service h1 { font-family: "微软雅黑", sans-serif; font-size: 20px; font-weight: 400; color: #0789D3; line-height: 20px; }
.service li { line-height: 20px; list-style-type: none; text-indent: 0px; width: 735px; }
.service #liucheng { background: url(../images/liucheng.jpg) repeat-x; width: 990px; height: 382px; margin: 0px 5px; }
.service #format { width: 980px; }
.service #aboutserviceimg { background: url(../images/about_service.jpg) no-repeat; height: 178px; margin-bottom: 5px; }
/*main*/
#maincontent { overflow: autol; zoom: 1; }
.main { float: left; width: 700px; margin-bottom: 5px; }
.main #left { float: left; background: url(../images/material.png) no-repeat -57px 0px; width: 57px; height: 41px; }
.main #center { float: left; background: url(../images/material.png) no-repeat -273px -139px; width: 583px; height: 41px; overflow: hidden; }
.main #right { float: right; background: url(../images/material.png) no-repeat -233px 0px; width: 60px; height: 41px; }
.main #middle { background: url(../images/Subnavigationmiddle2.png) repeat-y; width: 700px; clear: both; }
.main #bottom { background: url(../images/material.png) no-repeat -269px -62px; width: 700px; height: 8px; }
.main h2 { font-size: 10pt; line-height: 41px; font-weight: bold; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 10px; display: block; }
.main #middle .item { float: left; width: 334px; height: 132px; border: 1px solid #CCCCCC; padding: 0px; margin: 5px 7px; _margin-right: 5px; _margin-left: 5px; }
.main #middle .tit, .main #middle .text, .main #middle .link { float: left; width: 220px; margin-top: 5px; }
.main #middle .pic { float: left; height: 120px; width: 100px; margin-left: 5px; margin-top: 5px; }
.main #middle .pic img { height: 120px; width: 100px; }
.main #middle .date { float: right; width: 80px; height: 20px; line-height: 20px; color: #CCCCCC; text-align: right; overflow: hidden; margin-top: 5px; margin-right: 5px; }
.main #middle .tit { font-weight: bold; width: 120px; height: 20px; line-height: 20px; overflow: hidden; }
.main #middle .text { height: 70px; text-indent: 20px; line-height: 18px; overflow: hidden; }
.main #middle .link a { margin-right: 10px; }
.side { float: right; width: 290px; margin-bottom: 5px; }
.side #left { float: left; background: url(../images/material.png) no-repeat -114px 0px; width: 57px; height: 41px; }
.side #leftA { float: left; background: url(../images/material.png) no-repeat -171px 0px; width: 57px; height: 41px; }
.side #center { float: left; background: url(../images/material.png) no-repeat -272px -192px; width: 173px; height: 41px; overflow: hidden; }
.side #right { float: right; background: url(../images/material.png) no-repeat -233px 0px; width: 60px; height: 41px; }
.side #middle { background: url(../images/Subnavigationmiddle3.png) repeat-y; width: 290px; clear: both; }
.side #about { text-indent: 2em; padding: 0px; line-height: 150%; margin-right: 10px; margin-left: 10px; }
.side #bottom { background: url(../images/material.png) no-repeat -381px -15px; width: 290px; height: 8px; }
.side h2 { font-size: 10pt; line-height: 41px; font-weight: bold; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 10px; }
.side h3 span { margin-left: 22px; }
.side #middle #CustomerService { background: url(../images/material.png) no-repeat -273px -113px; width: 290px; height: 22px; font-size: 9pt; line-height: 22px; font-weight: bold; }
.side #middle .line { padding: 0px; line-height: 150%; margin-top: 5px; margin-right: 10px; margin-bottom: 5px; margin-left: 10px; }
/*case*/
.case { margin-bottom: 5px; overflow: hidden; height: 166px; }
.case #top { background: url(../images/material.png) no-repeat 0px -245px; width: 1000px; height: 36px; }
.case #middle { background: url(../images/Subnavigationmiddle1.png) repeat-y; width: 1000px; clear: both; padding: 1px 5px; }
.case #bottom { background: url(../images/material.png) no-repeat 0px -236px; width: 1000px; height: 8px; }
.case h2 { font-size: 10pt; line-height: 36px; font-weight: bold; color: #FFF; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 85px; }
/*download*/
.itemcaption { background-color: #FFFFFF; clear: both; height: 100px; width: 1000px; margin-right: auto; margin-left: auto; overflow: hidden; background-image: url(../images/Samll/itemcaption.png); background-repeat: no-repeat; background-position: center top; }
.itemcaption .tit { height: 40px; margin-left: 10px; }
.itemcaption h1 { font-family: "微软雅黑", sans-serif; font-size: 20px; font-weight: 400; color: #0789D3; line-height: 40px; }
.itemcaption .info { margin-left: 10px; width: 180px; height: 60px; float: left; }
.itemcaption .info li { line-height: 18px; }
.itemcaption .down { float: left; margin-left: 10px; width: 300px; height: 60px; }
.div_body { line-height: 150%; }
.item_downlist a, .item_hotlist a { line-height: 24px; height: 24px; background-repeat: no-repeat; background-position: left center; display: inline-block; }
.item_downlist a span, .item_hotlist a span { margin-left: 20px; }
.item_downlist a { background-image: url(../images/Samll/icon_down.png); }
.item_hotlist a { background-image: url(../images/Samll/icon_file.png); }
/*footer*/
.footer { width: 100%; margin: 0 auto; background: url(../images/footer.png) repeat-x; height: 100px; }
.footer .center { width: 1000px; margin: 0 auto; background: url(../images/footer.png) repeat-x; height: 100px; line-height: 24px; text-align: center; color: #FFFFFF; }
.footer .warp { padding: 20px 0px; }
.footer a:link, .footer a:visited { color: #FFFFFF; text-decoration: underline; }
.footer a:hover, .footer a:active { color: #FFFFFF; text-decoration: underline; }
.footer .cnzz a:link, .footer .cnzz a:visited { color: #FFFFFF; text-decoration: none; }
.footer .cnzz a:hover, .footer .cnzz a:active { color: #FFFFFF; text-decoration: underline; }
.row_blank { height: 10px; clear: both; }
/*imgbox*/
#imgbox-loading { position: absolute; top: 0; left: 0; background: url('../images/imgbox/imgbox-spinner.gif') center center no-repeat; cursor: pointer; display: none; z-index: 90; }
#imgbox-loading div { background: #FFF; width: 100%; height : 100%; }
#imgbox-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #000; display: none; z-index: 80; }
.imgbox-wrap { position: absolute; top: 0; left: 0; background: #FFF; display: none; z-index: 90; }
.imgbox-img { padding: 0; margin: 0; border: none; width: 100%; height: 100%; vertical-align: top; }
.imgbox-close { position: absolute; top: -15px; right: -15px; height: 30px; width: 30px; background: url('../images/imgbox/imgbox-close.png') top left no-repeat; cursor: pointer; outline: none; }
.imgbox-title { padding-top: 10px; font-size: 12px; text-align: center; font-family: Arial; color: #333; display: none; }
.imgbox-bg-wrap { position: absolute; padding: 0; margin: 0; display: none; }
.imgbox-bg { position: absolute; width: 20px; height: 20px; }
.imgbox-bg-n { left: 0; top: -20px; width: 100%; background: url(../images/imgbox/imgbox-bg-n.png) repeat-x; }
.imgbox-bg-ne { right: -20px; top: -20px; background: url(../images/imgbox/imgbox-bg-ne.png) no-repeat; }
.imgbox-bg-e { right: -20px; top: 0; height: 100%; background: url(../images/imgbox/imgbox-bg-e.png) repeat-y; }
.imgbox-bg-se { right: -20px; bottom: -20px; background: url(../images/imgbox/imgbox-bg-se.png) no-repeat; }
.imgbox-bg-s { left: 0; bottom: -20px; width: 100%; background: url(../images/imgbox/imgbox-bg-s.png) repeat-x; }
.imgbox-bg-sw { left: -20px; bottom: -20px; background: url(../images/imgbox/imgbox-bg-sw.png) no-repeat; }
.imgbox-bg-w { left: -20px; top: 0; height: 100%; background: url(../images/imgbox/imgbox-bg-w.png) repeat-y; }
.imgbox-bg-nw { left: -20px; top: -20px; background: url(../images/imgbox/imgbox-bg-nw.png) no-repeat; }
.blogroll{   border-radius: 4px; border:solid 1px #CCCCCC;margin: 10px 0px; width: 100%;    }
.blogroll .line{width: 100%; border-bottom:solid 1px #CCCCCC; background-color: #cc2908; height: 40px;overflow: hidden; }
.blogroll .line span{margin-left:10px;color: #fff;line-height: 40px;font-size: 14px;font-weight: 800;}
.linkFrame{ }
.linkFrame img{width: 150px; margin: 20px;}
.blogroll{   border-radius: 4px; border:solid 1px #CCCCCC;margin: 10px 0px; width: 100%;    }
.blogroll .line{border-left: 4px solid #008ee1;box-sizing: border-box;-moz-box-sizing:border-box;width: 100%; border-bottom:solid 1px #CCCCCC; background-color: #F5F5F5; height: 40px;overflow: hidden; }
.blogroll .line span{margin-left:10px;color: #444444;line-height: 40px;font-size: 14px;font-weight: bold;}
.linkFrame{ }
.linkFrame a {
    cursor: pointer;
    text-decoration: none;
    color: #ddd;
}
.linkFrame img{width: 148px;vertical-align: middle; height: 55px; margin: 20px;border: solid 1px;}